<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand title">Dashboard Administrador</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/add-agremiado">Agregar agremiado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ver-agremiados">Ver agremiados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ver-solicitudes">Ver solicitudes</a>
        </li>
      </ul>
      <ul class="navbar-nav cerrar-sesion">
        <li class="nav-item">
          <a class="nav-link" (click)="salir()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center" style="color: brown;">Bienvenido al Sistema, por favor selecciona la acción que desees realizar :)</h1>
</body>
